.App {
  text-align: center;
}

header {
  height: 75x;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.form-container {
  height: 350px;
  width: 250px;
  background-color: green;
}